@import "tailwindcss";
@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and old Edge */
    scrollbar-width: none;    /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;            /* Chrome, Safari, Opera */
  }
}